*{   
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(153, 42, 180, 0.6);
    background-image: url(https://www.downloadclipart.net/medium/40749-cat-images.png) ; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

h1{
    text-align: center;
    color: black;
}

